apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-image-updater-config
  namespace: argocd
data:
  registries.conf: |
    registries:
    - name: Docker Hub
      api_url: https://registry-1.docker.io
      prefix: docker.io
      credentials: secret:argocd/dockerhub-secret

  argocd-image-updater.yaml: |
    git:
      sshKeySecrets:
        - name: argocd-image-updater-ssh
          key: sshPrivateKey

